<ul>
	<li>
		<h4>Мы продаём / возим под заказ <strong>только машины с прозрачной историей</strong>. Никаких "тут только бампер крашенный" и "слегка утопленных" машин</h4></li>
	<li>
		<h4><strong>Только электромобили</strong></h4></li>
	<li>
		<h4>Дадим столько консультаций, сколько нужно</h4></li>
	<li>
		<h4>Фактически <a href="http://voltauto.xyz">Voltauto.dp.ua</a> это стартап, поэтому мы нацелены на потребности <strong>каждого клиента</strong></h4></li>
	<li>
		<h4>С каждым автомобилем в комплекте адаптированное зарядное и полный пакет документов для постановки на учёт. Впрочем, постановку мы тоже можем взять на себя</h4></li>
	<li>
		<h4>Электромобили - наша страсть</h4></li>
</ul>