<div class="row">
	<div ng-repeat="car in cars |filter:CarId">
		<div class="row col-xs-10 col-md-10 col-lg-10">
			<div class="col-xs-6 col-md-4 col-lg-5">
				<a href="pic/{{CarId}}-1.jpg" class="thumbnail">
					<img ng-src="pic/{{CarId}}-1.jpg" alt="{{car.model}}">
				</a>
			</div>
			<div class="col-xs-6 col-md-4 col-lg-5">
				<a href="pic/{{CarId}}-2.jpg" class="thumbnail">
					<img ng-src="pic/{{CarId}}-2.jpg" alt="{{car.model}}">
				</a>
			</div>
			<div class="col-xs-6 col-md-4 col-lg-5">
				<a href="pic/{{CarId}}-3.jpg" class="thumbnail">
					<img ng-src="pic/{{CarId}}-3.jpg" alt="{{car.model}}">
				</a>
			</div>
			<div class="col-xs-6 col-md-4 col-lg-5">
				<a href="pic/{{CarId}}-4.jpg" class="thumbnail">
					<img ng-src="pic/{{CarId}}-4.jpg" alt="{{car.model}}">
				</a>
			</div>
		</div>
		<!-- col-xs-6 col-md-3 -->
		<div class="col-xs-10 col-md-10 col-lg-10 text-center">
			<h2>{{car.CarId}}</h2>
			<ul class="list-unstyled">
				<li>Год выпуска {{car.Year}}</li>
				<li>Комплектация <strong>{{car.Type}}</strong></li>
				<li>Цвет: {{car.Color}}</li>
				<li>Салон: {{car.Interio}}</li>
				<li>Пробег, миль: {{car.Mileage}}</li>
				<li>Камера: {{car.Camera |yesFilter}}</li>
				<li>Порт быстрой зарядки: {{car.ChaDeMo |yesFilter}}</li>
				<li>Цена: {{car.Price |currency:undefined:0 }}</li>
			</ul>
			<a type="button" class="btn btn-success" href="#/contact" role="button">Купить!</a>
		</div>
	</div>
	<!--ng-repeat-->
</div>
<div class="clearfix"></div>